<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Ahoj</h1>
<select name="Countries">
    <option value="Linear" >Pohyb po přímce</option>
    <option value="Circular1" >Pohyb po kružnici dané dvěma body a poloměrem</option>
    <option value="Circular2" >Pohyb po kružnici dané třemi body</option>
    <option value="Circular3" >Pohyb po kružnici dané středem a úhlem</option>
</select>
<select name="Towns">
    <option value="Linear" >Pohyb po přímce</option>
    <option value="Circular1" >Pohyb po kružnici dané dvěma body a poloměrem</option>
    <option value="Circular2" >Pohyb po kružnici dané třemi body</option>
    <option value="Circular3" >Pohyb po kružnici dané středem a úhlem</option>
</select>
</body>
</html>