<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div align="center" class="container my-2">

    <h1 th:text="${text}"></h1>
    <a th:href="@{/newTownForm(code = ${code},countryName=${countryName})}" class="btn btn-primary btn-sm mb-2">Add town</a>
    <table border="2" class = "table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Town name</th>
            <th>Town id</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="town : ${towns}">
            <td th:text="${town.getName()}"></td>
            <td th:text="${town.getId()}"></td>
            <td style="text-align: center" ></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>